<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content class="full-page">
  <mat-card class="new_question card">
    <form [formGroup]="form">
      <mat-card-content>

        <mat-form-field class="new_question-field">
          <textarea matInput type="text" placeholder="Write your question" formControlName="question" onInput="this.value = this.value.toLowerCase()"></textarea>
        </mat-form-field>
        <mat-error class="login-error">{{this.error}}</mat-error>

      </mat-card-content>
    </form>
  </mat-card>

  <mat-dialog-actions align="end">
    <button mat-raised-button class="activebutton" color="primary" (click)="newQuestion()" [disabled]="!form.valid">CREATE NEW QUESTION</button>
    <button mat-raised-button class="cancelbtn" color="basic"  (click)="close()">CLOSE</button>
  </mat-dialog-actions>

</mat-dialog-content>
