<h1>Hi {{this.mail}}, welcome!</h1>
<div class="center">
  <button class="button" mat-stroked-button (click)="logout()"> LOG OUT</button>
  <a id= "home" class="button" routerLink="/home-admin" routerLinkActive="active">HOME</a>
  <p>The surveys you can do </p>
  <table>
    <thead>
    <tr>
      <th>ID_Survey</th>
      <th>Mail boss</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Publish_Date</th>
      <th>Ending_Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of this.response">
      <td>{{res.id}}</td>
      <td>{{res.idMail}}</td>
      <td>{{res.name}}</td>
      <td>{{res.category.name}}</td>
      <td>{{res.description}}</td>
      <td>{{res.publishDate}}</td>
      <td>{{res.endingDate}}</td>
      <button (click)="takeSurvey(res.id,res.name,res.description)">Take</button>
    </tr>
    </tbody>
  </table>
</div>

<div class="center">
  <p>The surveys you have done</p>
  <table>
    <thead>
    <tr>
      <th>ID_Survey</th>
      <th>Mail boss</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Publish_Date</th>
      <th>Ending_Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of this.responseDone">
      <td>{{res.id}}</td>
      <td>{{res.idMail}}</td>
      <td>{{res.name}}</td>
      <td>{{res.category.name}}</td>
      <td>{{res.description}}</td>
      <td>{{res.publishDate}}</td>
      <td>{{res.endingDate}}</td>
    </tr>
    </tbody>
  </table>
</div>

<p>We are giving you the possibility to create your own survey</p>
<a class="button" routerLink="/create-survey" routerLinkActive="active">CREATE SURVEY</a>
<router-outlet></router-outlet>
