<button class="nav_button" mat-button (click)="backHome()">BACK</button>

<h3>Hi {{this.mail}}, create your Survey</h3>




<mat-stepper [linear]="true" >
  <mat-step >
<form [formGroup]="form">
  <mat-form-field >
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <ng-container *ngFor="let resp of this.response">
        <mat-option  value="{{resp.id}}">{{resp.name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Title" formControlName="name" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Textarea</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <br>
  <mat-label>Enter a date range</mat-label>
  <br>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date" formControlName="startdate">
    <input matEndDate placeholder="End date" formControlName="enddate">
  </mat-date-range-input>
  <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
  <p *ngIf="this.isVisible">Non puoi</p>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</form>
    <div>
      <button mat-button matStepperNext (click)="getQuestionbyIDCat()">Next</button>
    </div>
  </mat-step>
<!--  QUI COPIATO MALE DA BLOG ANGULAR AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
  <mat-step >
      <h3>Add Questions and Answers:</h3>
    <button class="add_button" mat-button (click)="createQuestion()">NEW QUESTION</button>
      <div  [formGroup]="formQA">
        <div  formArrayName="questions">
<!--          FACCIO IL FOR TRA QUANTE QUESTION IN ARRAYLIST CI SON-->
<!--              QUI ENTRO DENTRO LA SPECIFICA DOAMNDA I-ESIMA-->
          <ng-container *ngFor="let questionForm of questions.controls; let i = index">
            <div  [formGroupName]="i">
              <mat-form-field  appearance="fill">
                <mat-label>Question</mat-label>
                <mat-select formControlName="question">
<!--                  SEMPLICE LOOP SU TUTTE LE DOMANDE -->
                  <ng-container *ngFor="let question of this.question_cat">
                  <mat-option  value="{{question.id}}">{{question.question}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <button  (click)="addAnswer(i)">
<!--                <mat-icon class="add-course-btn">add</mat-icon>-->
                ADD ANSWER
              </button>
<!--              DENTRO LA DOMANDA I-ESIMA CREO RISPOSTE -->
              <ng-container formArrayName="answers">
              <ng-container  *ngFor="let answers of questionAnswer(i).controls; let j = index">
                <div  [formGroupName]="j">
              <mat-form-field  appearance="fill">
                <mat-label>Answers</mat-label>
                <mat-select formControlName="answer">
                  <ng-container *ngFor="let answer2 of this.answers_all">
                    <mat-option  value="{{answer2.id}}">{{answer2.answer}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
                  </div>
              </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <button mat-button class="add_button" (click)="addQuestion()">
          ADD QUESTION
<!--          <mat-icon class="add-course-btn">add</mat-icon>-->
        </button>
      </div>
    <button mat-button (click)="createSurvey()" >Submit</button>
      <button mat-button matStepperPrevious>Back</button>
    <pre>
  {{ form.value | json }}
</pre>
    <pre>
  {{ formQA.value | json }}
</pre>
  </mat-step>
</mat-stepper>


<!--<div>
  <button class="activebutton" mat-button (click)="createSurvey()">SUBMIT</button>
</div>-->
