<h3>Hi {{this.mail}}, create your Survey</h3>
<form [formGroup]="form">
  <mat-form-field >
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
      <ng-container *ngFor="let resp of this.response">
        <mat-option  value="{{resp.id}}">{{resp.name}}</mat-option>
      </ng-container>
    </mat-select>
    <mat-select formControlName="categoryname">
      <ng-container *ngFor="let resp of this.response">
        <mat-option  value="{{resp.name}}">{{resp.name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Title" formControlName="name" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Textarea</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <br>
  <mat-label>Enter a date range</mat-label>
  <br>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date" formControlName="startdate">
    <input matEndDate placeholder="End date" formControlName="enddate">
  </mat-date-range-input>
  <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</form>
<div>
  <button mat-button (click)="createSurvey()">SUBMIT</button>
</div>

