<button class="nav_button" mat-button (click)="backHome()">BACK</button>

<h1>{{this.name}}</h1>
<h2>{{this.description}}</h2>

<!--Faccio in ordine il formGroup generale poi formArray poi formGroup di formArray
 poi il formControlName thell'answer specifica-->
<form (ngSubmit)="submitSurvey()" [formGroup]="form">
    <ng-container formArrayName="QAS" *ngFor="let question of this.questions;let i=index">
      <label id="example-radio-group-label" >{{question.question}}</label>
      <mat-radio-group  aria-labelledby="example-radio-group-label" class="example-radio-group">
      <ng-container [formGroupName]="i">
        <th *ngFor="let answer of question.answers;let j=index">
          <input type="radio" formControlName="id_qa" value="{{answer.id_qa}}">{{answer.answer}}
        </th>
      </ng-container>
      </mat-radio-group>
    </ng-container>
  <br>
  <button type="submit" *ngIf="this.isVisible == 0">Submit</button>
</form>
<p *ngIf="this.isVisible == 2">Something went wrong</p>
<p *ngIf="this.isVisible == 1">Survey submitted correctly</p>
<!--<pre>
  {{ form.value | json }}
</pre>-->
