<div class="center">
  <button class="button" mat-stroked-button (click)="logout()">LOGOUT</button>
<p>The surveys you can do </p>
  <table>
    <thead>
    <tr>
      <th>ID_Survey</th>
      <th>Mail boss</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Publish_Date</th>
      <th>Ending_Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let res of this.response">
      <td>{{res.id}}</td>
      <td>{{res.idMail}}</td>
      <td>{{res.name}}</td>
      <td>{{res.category.name}}</td>
      <td>{{res.description}}</td>
      <td>{{res.publishDate}}</td>
      <td>{{res.endingDate}}</td>
      <button routerLink="/create-survey" routerLinkActive="active" [skipLocationChange]=true>Take "{{res.name}}"</button>
    </tr>
    </tbody>
  </table>
</div>

<div class="center">
<p>The surveys you have done</p>
<table>
  <th>ID</th>
  <th>Name</th>
  <th>Category</th>
  <th>Description</th>
</table>
</div>
