<nav id = "mybutton">
  <button class="button" mat-stroked-button (click)="openLogin()" >LOGIN</button>
  <button class="button" mat-stroked-button (click)="openSignUP()">SIGN UP</button>
</nav>


<div class="center">
  <img src="assets/images/img_matplotlib_pie1.png">
  <div class="top-left">An old silent pond<br>
    A frog jumps into the pond—<br>
    Splash! Silence again.</div>
  <div class="bottom-left">A world of dew,<br>
    And within every dewdrop<br>
    A world of struggle.</div>
  <div class="top-right">The light of a candle<br>
    Is transferred to another candle—<br>
    Spring twilight</div>
  <div class="bottom-right">I write, erase, rewrite<br>
    Erase again, and then<br>
    A poppy blooms.</div>
</div>




